@import 'tailwindcss';

body {
  color: #ffffff;
  background: #222A2C;
  background-attachment: fixed;
}

.bg-dark-gradient {
  background: linear-gradient(#56407B,#222A2C);
  background-attachment: fixed;
}